.chat-main
  .chat-main__header
    .main-header__left-box
      .main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list 
        member:
        %li.main-header__left-box__member-list__member
          -  @group.users.each do |user|
            = user.name
    = link_to "Edit", edit_group_path(@group), class:'main-header__edit-btn'

  .chat-main__messages
    = render @messages 
  .chat-main__form
    = form_for [@group, @message] do |f|
      .form
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__picture' do
          = icon('fas', 'image', class: 'form__picture___icon')
          = f.file_field :image, class: 'form__picture__file'
      = f.submit 'Send', class: 'submit-btn'